.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
Desktop.ini

backend/target/
backend/build/
backend/out/

!backend/.mvn/wrapper/maven-wrapper.jar

backend/**/*.log
backend/logs/

backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

backend/HELP.md

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.cache/

frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/